<div id="comments-list"> <!-- 댓글 목록 영역 설정 -->
    {{#commentDtos}} <!-- 댓글 목록 순회-->
        <!-- 댓글 카드 만들고 id 부여-->
        <div class="card m-2" id="comments-{{id}}">
            <!-- 댓글 헤더 영역 설정 -->
            <div class="card-header">
                {{nicekname}}
                <!-- Butteon tigger modal -->
                <button type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal">수정</button>
            </div>
            <!-- 댓글 본문 영역 설정 -->
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>